
<div class=" Fpagetext">

    <h1 class="title">
      <% if controller_name == "home_page" %>
      JULIAN DETERING
      <% else %>
      JULIAN'S <%= controller_name %>
      <% end %>
      </h1>
      <p class="subtitle">
        <% if controller_name == "home_page" %>
          music portfolio + blog
        <% end %>
      </p>
</div>
