<div id="<%= dom_id blog_post %>">
  <div class="title">
    <strong>Title:</strong>
    <%= blog_post.title %>
  </div>

  <div class = "description">
    <strong>Description:</strong>
    <%= blog_post.description %>
  </div>

</div>
