
<div class="container">

<div class="col">
<div class="row category-header" >
<% @categories.each do |category| %>
<div class="blogs-column" style="max-width: 30%;">

<div class="h3" >
   <%= link_to category.name, category_path(category) %>
  </div>
</div>
<% end %>

</div>

<div id="blog_posts" class="d-flex flex-row justify-content-center">

    <% @blog_posts.order(created_at: :desc).each do |blog_post| %>

      <%= link_to blog_post_path(blog_post), class: 'text-decoration-none' do  %>
        <%= render "bp_card", blog_post: blog_post %>
      <% end %>
    <% end %>

</div>


</div>
</div></div>
