

<div class="col">
<div class="row category-header" >
<% @categories.each do |category| %>
<div class="blogs-column row d-flex flex-row" style="max-width: 30%;">

   <%= link_to category_path(category), class: "col-sm" do %>
    <div class="category-title h5" >
      <%= category.name.upcase %>
    </div>
   <% end %>
</div>
<% end %>

</div>

<div id="blog_posts" class=" row d-flex flex-row justify-content-center">

    <% @blog_posts.order(created_at: :desc).each do |blog_post| %>

      <%= link_to blog_post_path(blog_post), class: 'text-decoration-none col-sm blog_post card' do  %>
        <%= render "bp_card", blog_post: blog_post %>
      <% end %>
    <% end %>

</div>


</div>
