
<p style="color: green"><%= notice %></p>

<div id="albums" class=" row d-flex flex-row justify-content-center">
  <% @albums.each do |album| %>
    <%= render "album_cover", album: album %>
  <% end %>
</div>
