
:root {
  .album-img {

    --album-cover-image: url_for();

    margin: 1%;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    background-image: var(--album-cover-image);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center;

    background-color: gray;

    max-width: 416px;
    max-height: 416px;
    min-height: 416px;
  }
  .album-card {

      .title {
        font-size: 18px;
        text-align: center;
      }

    .btn.btn-secondary {
      width: 100px;
      height: 10px;
      margin: 10px;
      display: flex;
    justify-content: center;
    }
  } // end album card

  .form-card {
    margin: 40px;
    border-style: solid;
    border-width: medium;
    background-color: rgba(0.3,0.6,0.9,0.3);

    left: 0;
    right: 0;
    text-align: center;
  }
  .btn.btn-secondary {
        margin: auto;
  }


} // root

.albums.index {
  .album-name {
    position: relative;
    bottom: -90%;
    min-height: 10%;
    min-width: 10%;
    text-align: center;
    font-family: monospace;
  }
}

  .albums.show {
    .header-img {
    display: block;
            margin-left: auto;
            margin-right: auto;
            height: 200px;
            width: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            object-fit: scale-down;
            background-position: center;
            margin-top: 1%;
              margin-bottom: 1%;
    }
  }

  .albums.edit {
    .album-modif {
      margin-top: 1%;
      margin-left: 10%;
    }

    .album-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 200px;
      width: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: scale-down;
      background-position: center;
      margin-top: 1%;
        margin-bottom: 1%;
    }

    .container {
      border-style: solid;
      border-width: medium;
      border-radius: 10px;
      border-color: #gray;
      max-width: 30%;
    }
    .album-image {
        display: block;
      margin-left: auto;
      margin-right: auto;
        height: 64px;
        width: 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        border-style: solid;
        border-width: medium;
        object-fit: scale-down;
    }

    .cover-image-upload {
      margin-left: 10%;
      margin-right: 10%;
      max-width: 80%;
      background-color: orange;
    }
  }// new
