
:root {
  .album-img {
    --album-cover-image: url_for();

    background-image: var(--album-cover-image);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center;
  }

  .form-card {
    border-style: solid;
    border-width: medium;
    background-color: rgba(0.3,0.6,0.9,0.3);

    left: 0;
    right: 0;
    text-align: center;
  }
  .btn.btn-secondary {
        margin: auto;
  }

} // root

.albums.index {
  #albums {
    margin-left: 4%;
    margin-right: 4%;
  }
  .album-name {
      display: block;
      border: 0;
      border-top: 1px solid #ccc;

      margin: 1em 0;
      color: white;
      text-decoration-color: black;
      text-align: center;
      background-color: rgba(255,255,255,0.3);
  }

  .album-spacer {
      height: 386px;
      background: rgba(0,0,0,0);
  }
  .album-cover {
    max-width: 432px;
    max-height: 432px;
    min-width: 216px; // ask Julian by demonstrating this
    margin: 1%;
  }
}
  .albums.show {

    .album-card {
      margin-left: 4%;

      min-width: 70%;
    }
    .header-img {
    display: block;
            margin-left: auto;
            margin-right: auto;
            height: 200px;
            width: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: scale-down;
            background-position: center;
    }
    .other-albums {
      min-width: 30%;
    }
  }

  .albums.edit {
    .album-modif {
      margin-top: 1%;
      margin-left: 10%;
    }
    .cover-image-upload {
      margin-left: 10%;
      margin-right: 10%;
      max-width: 80%;
      background-color: orange;
    }
    .album-story-field {
      background: white;
      text-align: left;
      width: 80%;
    }
  }// .albums.edit
