
:root {
    .blog_post.card {
        border-style: solid;
        border-width: medium;
        background-color: white;
        max-width: inherit;
        max-height: inherit;

        margin-bottom: 4%;
        width: 216px;
        height: 216px;
        border-color: black;
        .title {
          font-size: 18px;
          text-align: center;
        }

      .btn.btn-secondary {
        width: 100px;
        height: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
      }

      .header-img {
              height: 200px;
              width: 100%;
              background-repeat: no-repeat;
              object-fit: scale-down;

      background-size: cover;
      background-position: center;
      }
    } // end blog_post card

    .content {
      display: flex;
      justify-content: center;
    }
    .blog_post-paragraph {
      justify-content: center;
    }
}

.blog_posts.index {
  .uncategorized-blogs.card {
    max-width: 25%;
  }
  #blog_posts {
    margin-left: 4%;
    margin-right: 4%;
  }
}

.blog_posts.edit {
  .blog_post-content {

      display: flex;
      margin-right: 100px;


  }

  .blog_post-content :hover::after{
    background-color: gray;
  }

  .action-header {
    display: flex;
    margin: 5px;


    background-color: green;

    max-height: 512px;
  }
  .blog_post-form
  {
    display: flex;
    margin: 5px;
margin-left: 100px;

    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    background-color: white;

    max-height: 512px;
    .title {
      font-size: 18px;
      text-align: center;
    }
  }

      .image {
          text-align: center;
          img {
            max-width: 80%
          }
          .delete-btn {
            position: absolute;
            right: calc(10% + 38px);
            opacity: 0.7;
            &:hover {
              opacity: 1.0;
            }
          }
        }
}
