
:root {
    .blog_post-card {
        margin: 40px;
        border-style: solid;
        border-width: medium;
        border-radius: 10px;
        background-color: white;
        max-width: 216px;
        max-height: 512px;

        --color-secondary: blue;

        border-color: var(--color-secondary);



        .title {
          font-size: 18px;
          text-align: center;
        }

      .btn.btn-secondary {
        width: 100px;
        height: 10px;
        margin: 10px;
        display: flex;
      justify-content: center;
      }

      .header-img {
        width: 100%;
        height: 100px;
        background-size: cover;
        background-position: center;
      }
    } // end blog_post card

    .paragraph-content{

      display: flex;
    justify-content: center;
    }
}

.blog_post.show {
    .content {
      display: flex;
      justify-content: center;
    }
}

.blog_posts.edit {
  .blog_post-content {

      display: flex;
      margin-right: 100px;


  }

  .blog_post-content :hover::after{
    background-color: gray;

  }
  
  .action-header {
    display: flex;
    margin: 5px;


    background-color: green;

    max-height: 512px;
  }
  .blog_post-form
  {
    display: flex;
    margin: 5px;
margin-left: 100px;

    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    background-color: white;

    max-height: 512px;
    .title {
      font-size: 18px;
      text-align: center;
    }
  }

      .image {
          text-align: center;
          img {
            max-width: 80%
          }
          .delete-btn {
            position: absolute;
            right: calc(10% + 38px);
            opacity: 0.7;
            &:hover {
              opacity: 1.0;
            }
          }
        }
}
