:root {
  @keyframes slideInLeft {
      0% {
        transform: translateY(-100%);
        transform: translateZ(-100%);
      }
      100% {
        transform: translateY(0);
          transform: translateZ(-100%);
      }
    }
    .category-header {
      margin-left: 4%;
      margin-right: 4%;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-name: slideInLeft;

      justify-content: center;
      background: linear-gradient(60deg, rgba(0,0,0,100%) 0%, rgba(105, 105, 105, 95%) 95%);
    }
  .category {

    border-right-style: solid;
    border-right-width: thin;
        margin-left: 3%;
        margin-bottom: 1%;
        .title {
          justify-content: center;
        }
      .image {
        height: 10%;
        max-width: 30%;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: scale-down;
        background-position: center;
        margin: 5%;
      }
  }
  .category-title {
    --categorySelectColor: white;
    text-decoration: none;
    color: var(--categorySelectColor);

          justify-content: center;
  }
}

.category.show {

  .category-image {
    height: 54px;
    margin: 1%;
  }
}

.categories.edit {
  .category-form {
    max-width: 38%;
    margin: 3%;
    background-color: white;
  }
  .blogs-for-category.card {
    max-width: 28%;
  }
  .uncategorized-blog_posts.card {
    max-width: 28%;
  }
  .category-image {
    height: 108px;
    max-width: 90%;
    margin: 1%;
  }
}
