:root {
  #categories {
    .category-new.card {
      margin: 1%;
    }
  }
  #musics {
    .category-new.card {
      margin: 1%;
    }
  }


}

.dashboard.index {
  .album-card {
      height: 290px;
      margin-right: 3%;
      margin-bottom: 3%;

      .title {
        font-size: 18px;
        text-align: center;
        background-color: white;
      }

  } // end album card
  .dashboard-panel {
    margin: 1%;

    min-width: 512px;
    max-width: 30%;
    background-color: white;
  }

    .album-dashboard {

    }
  }
