/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$primary: #83fdff;


@import "bootstrap";
@import "home_page";
@import "album";

:root { // global styles
  .Fpagetext{
    width: 90%;
    color: #F0F8FF;
  //  position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate(-50%,-50%);
    text-align: center;
  }


  .form-card {
    --color-primary: red;
    --color-secondary: blue;

    margin: 40px;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: var(--color-secondary);


    left: 0;
    right: 0;
    text-align: center;
  }
  .btn.btn-secondary {

        margin: auto;
  }

  .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.4s;
  }
  .nav-links ul li:hover::after{
    width: 100%;

  }
  .nav-links{
    flex: 1;
    text-align: center;
    letter-spacing: 5px;

  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 40px;
    position: bottom;

  }

  nav{
    display: flex;
    // padding-top: 10%;
    justify-content: space-between;
    align-items: center;
  }
} // end :root global styles


.app-css
{

  .top-bar {
    .title-text {
      // border-style: solid;
      // border-width: medium;


      margin: 10px;

      color: white;
      font-display: block;
      font-size: 42px;
      text-align: center;
    }
    // render the same in album.index

        border-color: white;
      background: linear-gradient(60deg, rgba(0,0,0,100%) 0%, rgba(105, 105, 105, 95%) 95%);
  }


  .bottom {
      margin-bottom: 50px;
      bottom: 40;
      left: 0;
      right: 0;
      text-align: center;
  }
}
.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
