
<div id="<%= dom_id music %>" class="music" data-controller="music" data-action="music:playButtonPressed->audio#playPressed"">
  <% if (music.music_file.signed_id) %>


    <%= music.name %>

      <audio src = <%= rails_blob_url music.music_file %>, data-music-target="audio">
       </audio>

      <div class="card row">
       <i class="play-button fa-solid fa-play"
       data-music-target="playButton"
       data-action="click->audio#sendCtx click->music#playButtonPressed "></i>
       <div>
      <canvas data-music-target="intensityCanvas"></canvas >
        </div>
        </div>

  <% else %>
    <div class="warning">
      music signed id not valid, try to re-create it.
    </div>
  <% end %>

</div>
